/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}

#top-wine {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}

#bottom-wine{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}
